body{
  background: white;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  background: transparent;
  
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

.submit{
  background: transparent;
  
}

.submit:hover{
  //box-shadow: 0 5px #666;
  border: solid;
  transform: translateY(2px);
}