div {
  background:skyblue;
}

.normalShow {display: none;}
 @media (min-width: 1025px){
    .normalShow { display: block; }
}

.mobileShow { display: none;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){ .mobileShow { display: block;}}
