html {
  font-family: sans-serif;
}

body {
  background: gray;
}

#byline {
  position: absolute;
  top: 35px;
  left: 10px;
}

.example {
  margin-top: 50px;
}

.exTable {
  border-spacing: 20px 10px;
}

#ex1 {
  color: lightblue;
}

#contact {
  margin-top: 25px;
}

#email {
  text-decoration: none;
  color: black;
}

#email:hover {
  color: aquamarine;
}

.dlLink {
  color: lightblue;
  text-decoration: none;
}

.dlLink:hover {
  color: aquamarine;
}
